
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">MarketPlace</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/gallery" routerLinkActive="active">Gallery</a></li> 
       
    </ul>
    <ul class="nav navbar-nav navbar-right"> 
            <li (click)="showModalFunc()" *ngIf="!isLoggedIn"><a href="javascript:void(0)"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

            <li (click)="logout()" *ngIf="isLoggedIn"><a href="javascript:void(0)"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
          </ul>

          <div id="id01" class="modal" [ngClass]="{
            'showModal':showModal
          }">
  
                <form class="modal-content animate modalForm" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"  novalidate>
                   <p class="closebtn"  (click)="showModalFunc()"> X </p>
              
                  <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname"  [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required>
              
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw"  [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="5"> 
                      <label class="wrong" *ngIf="wrongData">Wrong Credentials</label>
                    <button type="submit">Login</button>
                   
                  </div>
               
                </form>
              </div>
    </div>
  </nav>