
<div class="imageWrap">
    <img src="https://image.shutterstock.com/image-photo/small-market-square-krakow-poland-600w-475859551.jpg" class="rounded float-left" height="300" width="300"  alt="img 2">
<img src="https://thumbs.dreamstime.com/z/small-town-square-city-schwyz-switzerland-april-beauiful-views-alps-behine-spring-134914866.jpg" height="300" width="300" class="rounded float-right" alt="img 1">

<p *ngIf="authication">
    <img src="https://thumbs.dreamstime.com/z/colourful-houses-main-street-kezmarok-slovakia-small-town-spis-region-poprad-river-176425681.jpg" class="rounded float-left" height="300" width="300"  alt="img 2">
    <img src="https://thumbs.dreamstime.com/z/december-zell-see-austria-street-small-town-city-zell-see-christmas-time-decorations-snow-snowy-street-108198719.jpg" height="300" width="300" class="rounded float-right" alt="img 1">
</p>

</div>