.active{color: #ffffff !important;
    background-color: #9b9494 !important;}

.mainContainer{
    max-height: 650px !important;
    text-align: left;
    overflow: hidden;
}
.navbar{margin-bottom: 0px !important}
.carousel-caption{bottom: 35% !important;}