<div id="myCarousel" class="carousel slide" data-ride="carousel">
        
        <div class="carousel-inner">
          <div class="item active">
            <img src="http://twomilesdigital.com/wp-content/uploads/social-media-banner.jpg" alt="Los Angeles" style="width:100%;">
            <div class="carousel-caption">
                    <h3>Los Angeles</h3>
                    <p>LA is always so much fun!</p>
                  </div>
        </div>
    
          <div class="item">
            <img src="http://twomilesdigital.com/wp-content/uploads/social-media-banner.jpg" alt="Chicago" style="width:100%;">
            <div class="carousel-caption">
                    <h3>Los Angeles</h3>
                    <p>LA is always so much fun!</p>
                  </div>
        </div>
        
          <div class="item">
            <img src="http://twomilesdigital.com/wp-content/uploads/social-media-banner.jpg" alt="New york" style="width:100%;">
            <div class="carousel-caption">
                    <h3>Los Angeles</h3>
                    <p>LA is always so much fun!</p>
            </div>
        </div>
        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
</div>